certifi==2018.10.15
cffi==1.11.5
ConfigSpace==0.4.7
cycler==0.10.0
Cython==0.29
hpbandster==0.7.3
kiwisolver==1.0.1
matplotlib==3.0.1
mkl-fft==1.0.6
mkl-random==1.0.1
netifaces==0.10.7
numpy==1.15.3
olefile==0.46
pandas==0.23.4
patsy==0.5.1
Pillow==5.3.0
protobuf==3.6.1
pycparser==2.19
pyparsing==2.2.2
Pyro4==4.74
python-dateutil==2.7.5
pytz==2018.7
scikit-learn==0.20.0
scipy==1.1.0
serpent==1.27
six==1.11.0
statsmodels==0.9.0
tensorboardX==1.4
torch==0.4.1
tqdm==4.28.1
typing==3.6.6
