{% extends "layout.html" %}

{% block title %}
    <h1>Change User</h1>
    <h4>Select an Existing User</h4>
    <select id="userSelect">
        {% for id, user in users.items() %}

            <option value="{{id}}">{{user.username}}</option>
        {% endfor %}
    </select>

    <h4>Create a New User</h4>
    <form method="POST">
        New User: <input type="text" name="newUserName"><br/>
        <button type="submit" class="btn btn-primary btn-md">Create</button>
    </form>

    <script>
        $(`#userSelect option[value=${Cookies.get('currentUser')}]`).attr('selected', 'selected');

        $("#userSelect").on('change', function() {
            Cookies.set("currentUser", this.value);
            location.reload();
        });
    </script>
{% endblock %}