{% extends "layout.html" %}

{% block title %}
    <h1>Checkpoints</h1>
{% endblock %}

{% block content %}
    <h5>Add New</h5>
    <form enctype="multipart/form-data" method="POST">
        <input type="file" name="checkpoint" accept=".pt" required>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Upload</button>
    </form>

    <h3>Model Checkpoints</h3>
    {% for checkpoint in checkpoints %}
        <!--TODO: Make inline-->
        <div>
            <p>{{checkpoint}}</p>
            <a href="{{ url_for('download_checkpoint', checkpoint=checkpoint) }}">
                <button class="btn btn-default btn-sm">Download</button>
            </a>
            <a href="{{ url_for('delete_checkpoint', checkpoint=checkpoint) }}">
                <button class="btn btn-danger btn-sm">Delete</button>
            </a>
        </div>
        <br>
    {% endfor %}
{% endblock %}
