{% extends "layout.html" %}

{% block title %}
    <h1>Predict</h1>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        <h5>Model checkpoint (.pt file)</h5>
        <select name="checkpointName">
            {% for checkpoint in checkpoints %}
                <option value="{{checkpoint}}">{{checkpoint}}</option>
            {% endfor %}
        </select>
        <br>

        <h5>SMILES (one per line)</h5>
        <textarea name="smiles" cols="100" rows="10" placeholder="smiles" required></textarea>
        <br>

        {% if cuda %}
            <h5>GPU</h5>
            <select name="gpu">
                <option value="None">None</option>
                {% for gpu in gpus %}
                    <option value="{{gpu}}">{{gpu}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-md">Predict</button>
    </form>

    {% if error %}
        <h3>ERROR: {{ error }}</h3>
    {% endif %}

    {% if predicted %}
        <hr>

        <a href="{{ url_for('download_predictions') }}">
            <button class="btn btn-default btn-md">Download Predictions</button>
        </a>

        <br>
        <br>

        {% for i in range(num_smiles) %}
            <p>SMILES: {{ smiles[i] }}</p>

            {% for j in range(num_tasks) %}
                <p>{{ task_names[j] }}: {{ preds[i][j] }}</p>
            {% endfor %}

            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
