{% extends "layout.html" %}
{% from 'macros.html' import add_checkpoint, error_message, warning_message %}

{% block title %}
    <h1>Predict</h1>
{% endblock %}

{% block content %}
    {{ add_checkpoint('predict') }}

    <hr>

    <h3>Predict</h3>

    <form enctype="multipart/form-data" method="POST">
        <h5>Model checkpoint</h5>
        <select name="checkpointName" required>
            {% for checkpoint in checkpoints %}
                <option value="{{checkpoint}}">{{checkpoint}}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <div class="btn-group" id="inputSelect" data-toggle="buttons">
            <label class="btn btn-primary active" id="textButton">
              <input type="radio" name="inputType" value="text" autocomplete="off"> Text Input
            </label>
            <label class="btn btn-primary" id="fileButton">
              <input type="radio" name="inputType" value="file" autocomplete="off"> Upload File
            </label>
        </div>
        <br>

        <div id="textInputForm" {% if show_file_upload %} style="display:none" {% endif %}>
            <h5>SMILES (one per line)</h5>
            <textarea name="smiles" cols="100" rows="10" placeholder="smiles"></textarea>
        </div>
        <div id="fileInputForm" {% if not show_file_upload %} style="display:none" {% endif %}>
            <h5>File containing SMILES (one per line)</h5>
            <input type="file" name="data" accept=".csv">
        </div>
        <br>

        {% if cuda %}
            <h5>GPU</h5>
            <select name="gpu">
                <option value="None">None</option>
                {% for gpu in gpus %}
                    <option value="{{gpu}}">{{gpu}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
        {% endif %}

        <button type="submit" class="btn btn-primary btn-md">Predict</button>
    </form>

    <br>

    {{ warning_message(warning) }}

    {{ error_message(error) }}

    <script>
        $(document).ready(function() {
            $("#textButton").click(function() {
                $("#textInputForm").show();
                $("#fileInputForm").hide();
                console.log('text');
            });
            $("#fileButton").click(function() {
                $("#textInputForm").hide();
                $("#fileInputForm").show();
                console.log('file');
            });
        });
    </script>

    {% if predicted %}
        <hr>

        <a href="{{ url_for('download_predictions') }}"><button class="btn btn-default btn-md">Download Predictions</button></a>

        <br>
        <br>

        {% for i in range(num_smiles) %}
            <p>SMILES: {{ smiles[i] }}</p>

            {% for j in range(num_tasks) %}
                <p>{{ task_names[j] }}: {{ preds[i][j] }}</p>
            {% endfor %}

            <hr>
        {% endfor %}
        {% if show_more > 0 %}
            <p>... and {{ show_more }} more. Download file for full predictions.</p>
        {% endif %}
    {% endif %}
{% endblock %}
