{% extends "layout.html" %}

{% block title %}
    <h1>Train</h1>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        <h5>Data (.csv file)</h5>
        <input type="file" name="data" accept=".csv" required>
        <br>
        <h5>Datset type</h5>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" name="datasetType" id="regression" value="regression" autocomplete="off" required> Regression
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="datasetType" id="classification" value="classification" autocomplete="off" required> Classification
          </label>
        </div>
        <br>
        <h5>Epochs</h5>
         <input type="number" name="epochs" min="1" step="1" value="30" required>
        <br>
        <br>
        <input type="submit" value="Train">
    </form>

    {% if error %}
        <h3>ERROR: {{ error }}</h3>
    {% endif %}

    {% if trained %}
        <hr>

        <a href="{{ url_for('download_model') }}">
            <button class="btn btn-default btn-md">Download Model</button>
        </a>
    {% endif %}
{% endblock %}
