archspec==0.2.5
boltons==25.0.0
Brotli==1.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
chemprop==2.2.1
colorama==0.4.6
conda==25.3.1
conda-libmamba-solver==25.3.0
conda-package-handling==2.4.0
conda_package_streaming==0.12.0
distro==1.9.0
frozendict==2.4.6
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
jsonpatch==1.33
jsonpointer==3.0.0
libmambapy==2.1.1
menuinst==2.3.1
packaging==25.0
pip==25.1.1
platformdirs==4.3.8
pluggy==1.6.0
pycosat==0.6.6
pycparser==2.22
PySocks==1.7.1
requests==2.32.4
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.8
setuptools==80.9.0
tqdm==4.67.1
truststore==0.10.1
urllib3==2.5.0
wheel==0.45.1
zstandard==0.23.0
