


div.example_code {
    background-color: #F6F4F0;
    border: 1px solid #D4D4D4;
    font-family: "courier new";
    font-size: 90%;
    padding: 5px;
    width: 98%;
    border-style:solid;
    border-color:white;
    border-width:15px;
    width: 90%;
}
div.example_code_jsme {
    background-color: #F6F4F8;
    border: 1px solid #D4D4D4;
    font-family: "courier new";
    font-size: 90%;
    padding: 5px;
    border-style:solid;
    border-color:white;
    border-width:15px;
    width: 90%;
}

